<router-outlet></router-outlet>
<main>
    <div class="box">
        <div class="inner-box">
            <div class="login-vector">
                <img src="assets/image/Completed-amico.png" class="login">
            </div>

            <div class="form-wrap">    
                <form>
                    <div class="wah-logo">
                        <img src="assets/image/wahlogo.png" alt="WAH Logo">
                        <p>WAH <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>All done!</h1>
                        <p>Your password has been reset. Click
                            continue to log in. </p>
                    </div>
                
                    <div class="txt-field">
                        <div class="txt-wrap">
                            <a href="login" class="reset">Continue</a>

                        </div>
                       
                        <div class="account">
                            <div style="text-align:center"></div>
                                <span class="dot1">1</span>
                                <span class="dot2">2</span>
                                <span class="dot3">3</span>
                                <span class="dot4">4</span>
                            </div>    
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</main>