

.body{
    background-color: #3F0F88;
    font-family: Poppins;
}
a:link, a:active, a:visited{
    color: #3F0F88;
    text-decoration: none;
    background-color: transparent;

}

img{
    position: absolute;
    transform: translate(-5%, -3%);
    padding-left: 44%;
    width: 434px;
    height: 434px;
}

#head{
    font-size: 12px;
    font-family: Poppins-Bold;
    color: #3F0F88;
    line-height: 100%;
}

#panel{
    font-family: Poppins-Medium;
    font-size: 14px;
    transform: translate(0%, -120%);
    color: #707070;
}

input[type=text], input[type=password]{
    transform: translate(0%, 0%);
    width: 38%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: Poppins-Medium;
}

input[type=submit]{
    font-family: Poppins-Medium;
    background-color: #3F0F88;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 125px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.forgot_pass{
    padding: 0px 180px 30px;
    font-family: Poppins-Medium;
    font-size: 12px;
}

#account{
    padding: 20px 38px;
    font-size: 14px;
    color: #707070;
    font-family: Poppins-Medium;
}


h1{
    font-family: Poppins-Bold;
    font-size: 35px;

}

.signup{
    font-family: Poppins-Bold;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 500px;
    background: white;
    border-radius: 30px;
    padding: 45px 70px;
    box-sizing: border-box;
}
