
<div class="box">

    <p id="head">WAH <br> Cooperative</p>
    <h1>Welcome</h1>
    <p>Enter details to login to the admin panel</p>
    <form>
        <div class="txt_field">
            <input type="text" name="email" placeholder="Email" required><br>
            <input type="password" name="pass" placeholder="Password" required>
        </div>
        <div class="forgot_pass">
            <a href="#">Forgot Password?</a>
        </div>
        <input type="submit" value="Login">
        <div class="signup">
            Don't have an account?<a href="#">Sign Up</a>
        </div>
    </form>

</div>